// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Mon Sep  7 02:22:42 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/rkong/documents/github/e155-lab1/fpga/e155_lab1_rk/source/impl_1/counter.sv"
// file 1 "c:/users/rkong/documents/github/e155-lab1/fpga/e155_lab1_rk/source/impl_1/e155_lab1_rk_tb.sv"
// file 2 "c:/users/rkong/documents/github/e155-lab1/fpga/e155_lab1_rk/source/impl_1/lab1_rk.sv"
// file 3 "c:/users/rkong/documents/github/e155-lab1/fpga/e155_lab1_rk/source/impl_1/sevenseg.sv"
// file 4 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 7 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 8 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 9 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 10 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 28 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 29 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 30 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 31 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 32 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 33 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 34 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 42 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 43 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 44 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 45 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 46 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 47 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 48 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 59 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 60 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 61 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 62 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 63 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 64 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 65 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 78 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 79 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module lab1_rk
//

module lab1_rk (input reset, input [3:0]switch, output [2:0]led, output [6:0]seg);
    
    wire GND_net;
    wire [3:0]switch_c;
    wire [2:0]led_c;
    wire [6:0]seg_c;
    
    wire VCC_net;
    
    VHI i2 (.Z(VCC_net));
    (* lut_function="(!(A+(B)))" *) LUT4 i170_2_lut (.A(switch_c[3]), .B(switch_c[2]), 
            .Z(led_c[1]));
    defparam i170_2_lut.INIT = "0x1111";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut (.A(switch_c[1]), 
            .B(switch_c[0]), .Z(led_c[0]));
    defparam i1_2_lut.INIT = "0x6666";
    VLO i1 (.Z(GND_net));
    IB \switch_pad[3]  (.I(switch[3]), .O(switch_c[3]));
    IB \switch_pad[2]  (.I(switch[2]), .O(switch_c[2]));
    IB \switch_pad[1]  (.I(switch[1]), .O(switch_c[1]));
    IB \switch_pad[0]  (.I(switch[0]), .O(switch_c[0]));
    OB \led_pad[2]  (.I(GND_net), .O(led[2]));
    OB \led_pad[1]  (.I(led_c[1]), .O(led[1]));
    OB \led_pad[0]  (.I(led_c[0]), .O(led[0]));
    OB \seg_pad[6]  (.I(seg_c[6]), .O(seg[6]));
    OB \seg_pad[5]  (.I(seg_c[5]), .O(seg[5]));
    OB \seg_pad[4]  (.I(seg_c[4]), .O(seg[4]));
    OB \seg_pad[3]  (.I(seg_c[3]), .O(seg[3]));
    OB \seg_pad[2]  (.I(seg_c[2]), .O(seg[2]));
    OB \seg_pad[1]  (.I(seg_c[1]), .O(seg[1]));
    OB \seg_pad[0]  (.I(seg_c[0]), .O(seg[0]));
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=12, LSE_RCOL=33, LSE_LLINE=17, LSE_RLINE=17 *) sevenseg sevenseg ({seg_c}, 
            {switch_c});
    
endmodule

//
// Verilog Description of module sevenseg
//

module sevenseg (output [6:0]seg_c, input [3:0]switch_c);
    
    
    (* lut_function="(!(A ((C+!(D))+!B)+!A !(B+(C (D)))))" *) LUT4 seg_c_2__I_0_4_lut (.A(switch_c[0]), 
            .B(switch_c[3]), .C(switch_c[2]), .D(switch_c[1]), .Z(seg_c[2]));
    defparam seg_c_2__I_0_4_lut.INIT = "0x5c44";
    (* lut_function="(!(A (B ((D)+!C)+!B (C+!(D)))+!A !(B (D)+!B !(D))))" *) LUT4 seg_c_3__I_0_4_lut (.A(switch_c[0]), 
            .B(switch_c[1]), .C(switch_c[3]), .D(switch_c[2]), .Z(seg_c[3]));
    defparam seg_c_3__I_0_4_lut.INIT = "0x4691";
    (* lut_function="(!(A (B ((D)+!C)+!B (C+(D)))+!A !(B (C (D))+!B !((D)+!C))))" *) LUT4 seg_c_6__I_0_4_lut (.A(switch_c[2]), 
            .B(switch_c[3]), .C(switch_c[1]), .D(switch_c[0]), .Z(seg_c[6]));
    defparam seg_c_6__I_0_4_lut.INIT = "0x4092";
    (* lut_function="(!(A (B (C+(D))+!B (D))+!A (B ((D)+!C)+!B (C))))" *) LUT4 seg_c_5__I_0_4_lut (.A(switch_c[0]), 
            .B(switch_c[1]), .C(switch_c[3]), .D(switch_c[2]), .Z(seg_c[5]));
    defparam seg_c_5__I_0_4_lut.INIT = "0x016b";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A !((C+(D))+!B))" *) LUT4 switch_c_3__N_1_I_0_4_lut (.A(switch_c[1]), 
            .B(switch_c[3]), .C(switch_c[0]), .D(switch_c[2]), .Z(seg_c[0]));
    defparam switch_c_3__N_1_I_0_4_lut.INIT = "0x8824";
    (* lut_function="(!(A (B (C+!(D))+!B (C+(D)))+!A !(B ((D)+!C))))" *) LUT4 seg_c_1__I_0_4_lut (.A(switch_c[1]), 
            .B(switch_c[3]), .C(switch_c[0]), .D(switch_c[2]), .Z(seg_c[1]));
    defparam seg_c_1__I_0_4_lut.INIT = "0x4c06";
    (* lut_function="(!(A (B+(C+!(D)))+!A !(B (C (D))+!B !(C))))" *) LUT4 seg_c_4__I_0_4_lut (.A(switch_c[1]), 
            .B(switch_c[3]), .C(switch_c[2]), .D(switch_c[0]), .Z(seg_c[4]));
    defparam seg_c_4__I_0_4_lut.INIT = "0x4301";
    
endmodule
