// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Tue Sep  8 01:39:55 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/rkong/documents/github/e155-lab1/fpga/e155_lab1_rk/source/impl_1/counter.sv"
// file 1 "c:/users/rkong/documents/github/e155-lab1/fpga/e155_lab1_rk/source/impl_1/lab1_rk.sv"
// file 2 "c:/users/rkong/documents/github/e155-lab1/fpga/e155_lab1_rk/source/impl_1/sevenseg.sv"
// file 3 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 4 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 5 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 6 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 7 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 8 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 9 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 10 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 28 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 29 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 30 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 31 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 32 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 33 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 34 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 42 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 43 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 44 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 45 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 46 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 47 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 48 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 59 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 60 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 61 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 62 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 63 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 64 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 65 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 78 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module lab1_rk
//

module lab1_rk (input reset, input enable, input [3:0]switch, output [2:0]led, 
            output [6:0]seg);
    
    wire reset_c;
    wire enable_c;
    wire [3:0]switch_c;
    wire [2:0]led_c;
    wire [6:0]seg_c;
    (* is_clock=1 *) wire int_osc;
    
    wire VCC_net, GND_net, n32;
    
    VHI i2 (.Z(VCC_net));
    VLO i1 (.Z(GND_net));
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut (.A(switch_c[1]), 
            .B(switch_c[0]), .Z(led_c[0]));
    defparam i1_2_lut.INIT = "0x6666";
    (* lut_function="(!(A+(B)))" *) LUT4 i474_2_lut (.A(switch_c[3]), .B(switch_c[2]), 
            .Z(led_c[1]));
    defparam i474_2_lut.INIT = "0x1111";
    (* lut_function="(A+!(B))" *) LUT4 i191_2_lut (.A(enable_c), .B(reset_c), 
            .Z(n32));
    defparam i191_2_lut.INIT = "0xbbbb";
    IB reset_pad (.I(reset), .O(reset_c));
    IB enable_pad (.I(enable), .O(enable_c));
    IB \switch_pad[3]  (.I(switch[3]), .O(switch_c[3]));
    IB \switch_pad[2]  (.I(switch[2]), .O(switch_c[2]));
    IB \switch_pad[1]  (.I(switch[1]), .O(switch_c[1]));
    IB \switch_pad[0]  (.I(switch[0]), .O(switch_c[0]));
    OB \led_pad[2]  (.I(led_c[2]), .O(led[2]));
    OB \led_pad[1]  (.I(led_c[1]), .O(led[1]));
    OB \led_pad[0]  (.I(led_c[0]), .O(led[0]));
    OB \seg_pad[6]  (.I(seg_c[6]), .O(seg[6]));
    OB \seg_pad[5]  (.I(seg_c[5]), .O(seg[5]));
    OB \seg_pad[4]  (.I(seg_c[4]), .O(seg[4]));
    OB \seg_pad[3]  (.I(seg_c[3]), .O(seg[3]));
    OB \seg_pad[2]  (.I(seg_c[2]), .O(seg[2]));
    OB \seg_pad[1]  (.I(seg_c[1]), .O(seg[1]));
    OB \seg_pad[0]  (.I(seg_c[0]), .O(seg[0]));
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) counter counter (n32, 
            int_osc, reset_c, led_c[2]);
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=12, LSE_RCOL=33, LSE_LLINE=18, LSE_RLINE=18 *) sevenseg sevenseg ({switch_c}, 
            {seg_c});
    
endmodule

//
// Verilog Description of module counter
//

module counter (input n32, input int_osc, input reset_c, output \led_c[2] );
    
    wire [23:0]count;
    (* is_clock=1 *) wire int_osc;
    
    wire GND_net, VCC_net;
    wire [23:0]n41;
    
    wire n47, n759;
    wire [23:0]n127;
    
    wire n309, n30, n327, n783, n323, n25, n153, n26, n329, 
        n28, n795, n780, n331, n27, n325, n765, n792, n415, 
        n786, n14, n789, n490, n771, n321, n319, n777, n317, 
        n774, n315, n313, n768, n311, n762;
    
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i21 (.D(n41[21]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[21]));
    defparam count___i21.REGSET = "RESET";
    defparam count___i21.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i219_2_lut (.A(n127[17]), .B(n47), 
            .Z(n41[17]));
    defparam i219_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i218_2_lut (.A(n127[18]), .B(n47), 
            .Z(n41[18]));
    defparam i218_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i216_2_lut (.A(n127[19]), .B(n47), 
            .Z(n41[19]));
    defparam i216_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i215_2_lut (.A(n127[20]), .B(n47), 
            .Z(n41[20]));
    defparam i215_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i206_2_lut (.A(n127[23]), .B(n47), 
            .Z(n41[23]));
    defparam i206_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i198_2_lut (.A(n127[1]), .B(n47), 
            .Z(n41[1]));
    defparam i198_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i202_2_lut (.A(n127[2]), .B(n47), 
            .Z(n41[2]));
    defparam i202_2_lut.INIT = "0x8888";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1_2_lut (.A(\led_c[2] ), .B(n47), 
            .Z(n153));
    defparam i1_2_lut.INIT = "0x9999";
    (* lut_function="(A (B))" *) LUT4 i207_2_lut (.A(n127[22]), .B(n47), 
            .Z(n41[22]));
    defparam i207_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i203_2_lut (.A(n127[3]), .B(n47), 
            .Z(n41[3]));
    defparam i203_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i12_4_lut (.A(count[22]), .B(count[0]), 
            .C(count[16]), .D(count[6]), .Z(n28));
    defparam i12_4_lut.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i22 (.D(n41[22]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[22]));
    defparam count___i22.REGSET = "RESET";
    defparam count___i22.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i243_2_lut (.A(n127[4]), .B(n47), 
            .Z(n41[4]));
    defparam i243_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i10_4_lut (.A(count[1]), .B(count[5]), 
            .C(count[17]), .D(count[8]), .Z(n26));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i11_4_lut (.A(count[21]), .B(count[13]), 
            .C(count[2]), .D(count[11]), .Z(n27));
    defparam i11_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i9_4_lut (.A(count[3]), .B(count[4]), 
            .C(count[14]), .D(count[18]), .Z(n25));
    defparam i9_4_lut.INIT = "0xfffe";
    FA2 add_18_add_5_25 (.A0(GND_net), .B0(count[23]), .C0(GND_net), .D0(n331), 
        .CI0(n331), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n795), 
        .CI1(n795), .CO0(n795), .S0(n127[23]));
    defparam add_18_add_5_25.INIT0 = "0xc33c";
    defparam add_18_add_5_25.INIT1 = "0xc33c";
    FA2 add_18_add_5_23 (.A0(GND_net), .B0(count[21]), .C0(GND_net), .D0(n329), 
        .CI0(n329), .A1(GND_net), .B1(count[22]), .C1(GND_net), .D1(n792), 
        .CI1(n792), .CO0(n792), .CO1(n331), .S0(n127[21]), .S1(n127[22]));
    defparam add_18_add_5_23.INIT0 = "0xc33c";
    defparam add_18_add_5_23.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ switch_led (.D(n153), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(\led_c[2] ));
    defparam switch_led.REGSET = "RESET";
    defparam switch_led.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i15_4_lut (.A(n25), .B(n27), 
            .C(n26), .D(n28), .Z(n415));
    defparam i15_4_lut.INIT = "0xfffe";
    FA2 add_18_add_5_21 (.A0(GND_net), .B0(count[19]), .C0(GND_net), .D0(n327), 
        .CI0(n327), .A1(GND_net), .B1(count[20]), .C1(GND_net), .D1(n789), 
        .CI1(n789), .CO0(n789), .CO1(n329), .S0(n127[19]), .S1(n127[20]));
    defparam add_18_add_5_21.INIT0 = "0xc33c";
    defparam add_18_add_5_21.INIT1 = "0xc33c";
    FA2 add_18_add_5_19 (.A0(GND_net), .B0(count[17]), .C0(GND_net), .D0(n325), 
        .CI0(n325), .A1(GND_net), .B1(count[18]), .C1(GND_net), .D1(n786), 
        .CI1(n786), .CO0(n786), .CO1(n327), .S0(n127[17]), .S1(n127[18]));
    defparam add_18_add_5_19.INIT0 = "0xc33c";
    defparam add_18_add_5_19.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i20 (.D(n41[20]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[20]));
    defparam count___i20.REGSET = "RESET";
    defparam count___i20.SRMODE = "CE_OVER_LSR";
    FA2 add_18_add_5_17 (.A0(GND_net), .B0(count[15]), .C0(GND_net), .D0(n323), 
        .CI0(n323), .A1(GND_net), .B1(count[16]), .C1(GND_net), .D1(n783), 
        .CI1(n783), .CO0(n783), .CO1(n325), .S0(n127[15]), .S1(n127[16]));
    defparam add_18_add_5_17.INIT0 = "0xc33c";
    defparam add_18_add_5_17.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i242_2_lut (.A(n127[5]), .B(n47), 
            .Z(n41[5]));
    defparam i242_2_lut.INIT = "0x8888";
    (* lut_function="((B+!(C))+!A)" *) LUT4 i5_3_lut (.A(count[23]), .B(n415), 
            .C(count[12]), .Z(n14));
    defparam i5_3_lut.INIT = "0xdfdf";
    (* lut_function="(A (B (C (D))))" *) LUT4 i384_4_lut (.A(count[19]), .B(count[15]), 
            .C(count[9]), .D(count[20]), .Z(n490));
    defparam i384_4_lut.INIT = "0x8000";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i19 (.D(n41[19]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[19]));
    defparam count___i19.REGSET = "RESET";
    defparam count___i19.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i241_2_lut (.A(n127[6]), .B(n47), 
            .Z(n41[6]));
    defparam i241_2_lut.INIT = "0x8888";
    (* lut_function="(((C+!(D))+!B)+!A)" *) LUT4 i8_4_lut (.A(n490), .B(count[10]), 
            .C(n14), .D(count[7]), .Z(n47));
    defparam i8_4_lut.INIT = "0xf7ff";
    FA2 add_18_add_5_15 (.A0(GND_net), .B0(count[13]), .C0(GND_net), .D0(n321), 
        .CI0(n321), .A1(GND_net), .B1(count[14]), .C1(GND_net), .D1(n780), 
        .CI1(n780), .CO0(n780), .CO1(n323), .S0(n127[13]), .S1(n127[14]));
    defparam add_18_add_5_15.INIT0 = "0xc33c";
    defparam add_18_add_5_15.INIT1 = "0xc33c";
    FA2 add_18_add_5_13 (.A0(GND_net), .B0(count[11]), .C0(GND_net), .D0(n319), 
        .CI0(n319), .A1(GND_net), .B1(count[12]), .C1(GND_net), .D1(n777), 
        .CI1(n777), .CO0(n777), .CO1(n321), .S0(n127[11]), .S1(n127[12]));
    defparam add_18_add_5_13.INIT0 = "0xc33c";
    defparam add_18_add_5_13.INIT1 = "0xc33c";
    FA2 add_18_add_5_11 (.A0(GND_net), .B0(count[9]), .C0(GND_net), .D0(n317), 
        .CI0(n317), .A1(GND_net), .B1(count[10]), .C1(GND_net), .D1(n774), 
        .CI1(n774), .CO0(n774), .CO1(n319), .S0(n127[9]), .S1(n127[10]));
    defparam add_18_add_5_11.INIT0 = "0xc33c";
    defparam add_18_add_5_11.INIT1 = "0xc33c";
    FA2 add_18_add_5_9 (.A0(GND_net), .B0(count[7]), .C0(GND_net), .D0(n315), 
        .CI0(n315), .A1(GND_net), .B1(count[8]), .C1(GND_net), .D1(n771), 
        .CI1(n771), .CO0(n771), .CO1(n317), .S0(n127[7]), .S1(n127[8]));
    defparam add_18_add_5_9.INIT0 = "0xc33c";
    defparam add_18_add_5_9.INIT1 = "0xc33c";
    FA2 add_18_add_5_7 (.A0(GND_net), .B0(count[5]), .C0(GND_net), .D0(n313), 
        .CI0(n313), .A1(GND_net), .B1(count[6]), .C1(GND_net), .D1(n768), 
        .CI1(n768), .CO0(n768), .CO1(n315), .S0(n127[5]), .S1(n127[6]));
    defparam add_18_add_5_7.INIT0 = "0xc33c";
    defparam add_18_add_5_7.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i18 (.D(n41[18]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[18]));
    defparam count___i18.REGSET = "RESET";
    defparam count___i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i17 (.D(n41[17]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[17]));
    defparam count___i17.REGSET = "RESET";
    defparam count___i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i16 (.D(n41[16]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[16]));
    defparam count___i16.REGSET = "RESET";
    defparam count___i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i15 (.D(n41[15]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[15]));
    defparam count___i15.REGSET = "RESET";
    defparam count___i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i14 (.D(n41[14]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[14]));
    defparam count___i14.REGSET = "RESET";
    defparam count___i14.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i240_2_lut (.A(n127[7]), .B(n47), 
            .Z(n41[7]));
    defparam i240_2_lut.INIT = "0x8888";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i13 (.D(n41[13]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[13]));
    defparam count___i13.REGSET = "RESET";
    defparam count___i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i12 (.D(n41[12]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[12]));
    defparam count___i12.REGSET = "RESET";
    defparam count___i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i11 (.D(n41[11]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[11]));
    defparam count___i11.REGSET = "RESET";
    defparam count___i11.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i214_2_lut (.A(n127[21]), .B(n47), 
            .Z(n41[21]));
    defparam i214_2_lut.INIT = "0x8888";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i10 (.D(n41[10]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[10]));
    defparam count___i10.REGSET = "RESET";
    defparam count___i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i9 (.D(n41[9]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[9]));
    defparam count___i9.REGSET = "RESET";
    defparam count___i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i8 (.D(n41[8]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[8]));
    defparam count___i8.REGSET = "RESET";
    defparam count___i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i7 (.D(n41[7]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[7]));
    defparam count___i7.REGSET = "RESET";
    defparam count___i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i6 (.D(n41[6]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[6]));
    defparam count___i6.REGSET = "RESET";
    defparam count___i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i5 (.D(n41[5]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[5]));
    defparam count___i5.REGSET = "RESET";
    defparam count___i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i4 (.D(n41[4]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[4]));
    defparam count___i4.REGSET = "RESET";
    defparam count___i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i3 (.D(n41[3]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[3]));
    defparam count___i3.REGSET = "RESET";
    defparam count___i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i2 (.D(n41[2]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[2]));
    defparam count___i2.REGSET = "RESET";
    defparam count___i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i1 (.D(n41[1]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[1]));
    defparam count___i1.REGSET = "RESET";
    defparam count___i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i23 (.D(n41[23]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[23]));
    defparam count___i23.REGSET = "RESET";
    defparam count___i23.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i239_2_lut (.A(n127[8]), .B(n47), 
            .Z(n41[8]));
    defparam i239_2_lut.INIT = "0x8888";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B))" *) LUT4 i238_2_lut (.A(n127[9]), .B(n47), 
            .Z(n41[9]));
    defparam i238_2_lut.INIT = "0x8888";
    (* lut_function="(!(A))" *) LUT4 i21_1_lut (.A(reset_c), .Z(n30));
    defparam i21_1_lut.INIT = "0x5555";
    (* lut_function="(A (B))" *) LUT4 i237_2_lut (.A(n127[10]), .B(n47), 
            .Z(n41[10]));
    defparam i237_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i236_2_lut (.A(n127[11]), .B(n47), 
            .Z(n41[11]));
    defparam i236_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i224_2_lut (.A(n127[12]), .B(n47), 
            .Z(n41[12]));
    defparam i224_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i199_2_lut (.A(n127[0]), .B(n47), 
            .Z(n41[0]));
    defparam i199_2_lut.INIT = "0x8888";
    FA2 add_18_add_5_5 (.A0(GND_net), .B0(count[3]), .C0(GND_net), .D0(n311), 
        .CI0(n311), .A1(GND_net), .B1(count[4]), .C1(GND_net), .D1(n765), 
        .CI1(n765), .CO0(n765), .CO1(n313), .S0(n127[3]), .S1(n127[4]));
    defparam add_18_add_5_5.INIT0 = "0xc33c";
    defparam add_18_add_5_5.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i223_2_lut (.A(n127[13]), .B(n47), 
            .Z(n41[13]));
    defparam i223_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i222_2_lut (.A(n127[14]), .B(n47), 
            .Z(n41[14]));
    defparam i222_2_lut.INIT = "0x8888";
    FA2 add_18_add_5_3 (.A0(GND_net), .B0(count[1]), .C0(GND_net), .D0(n309), 
        .CI0(n309), .A1(GND_net), .B1(count[2]), .C1(GND_net), .D1(n762), 
        .CI1(n762), .CO0(n762), .CO1(n311), .S0(n127[1]), .S1(n127[2]));
    defparam add_18_add_5_3.INIT0 = "0xc33c";
    defparam add_18_add_5_3.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i221_2_lut (.A(n127[15]), .B(n47), 
            .Z(n41[15]));
    defparam i221_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i220_2_lut (.A(n127[16]), .B(n47), 
            .Z(n41[16]));
    defparam i220_2_lut.INIT = "0x8888";
    FA2 add_18_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(count[0]), .C1(VCC_net), .D1(n759), .CI1(n759), .CO0(n759), 
        .CO1(n309), .S1(n127[0]));
    defparam add_18_add_5_1.INIT0 = "0xc33c";
    defparam add_18_add_5_1.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=26, LSE_LCOL=11, LSE_RCOL=50, LSE_LLINE=17, LSE_RLINE=17 *) FD1P3XZ count___i0 (.D(n41[0]), 
            .SP(n32), .CK(int_osc), .SR(n30), .Q(count[0]));
    defparam count___i0.REGSET = "RESET";
    defparam count___i0.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module sevenseg
//

module sevenseg (input [3:0]switch_c, output [6:0]seg_c);
    
    
    (* lut_function="(!(A (B ((D)+!C)+!B (C+(D)))+!A !(B (C (D))+!B !((D)+!C))))" *) LUT4 seg_c_6__I_0_4_lut (.A(switch_c[2]), 
            .B(switch_c[3]), .C(switch_c[1]), .D(switch_c[0]), .Z(seg_c[6]));
    defparam seg_c_6__I_0_4_lut.INIT = "0x4092";
    (* lut_function="(!(A (B (C+(D))+!B (D))+!A (B ((D)+!C)+!B (C))))" *) LUT4 seg_c_5__I_0_4_lut (.A(switch_c[0]), 
            .B(switch_c[1]), .C(switch_c[3]), .D(switch_c[2]), .Z(seg_c[5]));
    defparam seg_c_5__I_0_4_lut.INIT = "0x016b";
    (* lut_function="(!(A (B ((D)+!C)+!B (C+!(D)))+!A !(B (D)+!B !(D))))" *) LUT4 seg_c_3__I_0_4_lut (.A(switch_c[0]), 
            .B(switch_c[1]), .C(switch_c[3]), .D(switch_c[2]), .Z(seg_c[3]));
    defparam seg_c_3__I_0_4_lut.INIT = "0x4691";
    (* lut_function="(!(A (B (C+!(D))+!B (C+(D)))+!A !(B ((D)+!C))))" *) LUT4 seg_c_1__I_0_4_lut (.A(switch_c[1]), 
            .B(switch_c[3]), .C(switch_c[0]), .D(switch_c[2]), .Z(seg_c[1]));
    defparam seg_c_1__I_0_4_lut.INIT = "0x4c06";
    (* lut_function="(!(A (B+(C+!(D)))+!A !(B (C (D))+!B !(C))))" *) LUT4 seg_c_4__I_0_4_lut (.A(switch_c[1]), 
            .B(switch_c[3]), .C(switch_c[2]), .D(switch_c[0]), .Z(seg_c[4]));
    defparam seg_c_4__I_0_4_lut.INIT = "0x4301";
    (* lut_function="(!(A ((C+!(D))+!B)+!A !(B+(C (D)))))" *) LUT4 seg_c_2__I_0_4_lut (.A(switch_c[0]), 
            .B(switch_c[3]), .C(switch_c[2]), .D(switch_c[1]), .Z(seg_c[2]));
    defparam seg_c_2__I_0_4_lut.INIT = "0x5c44";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A !((C+(D))+!B))" *) LUT4 switch_c_3__N_1_I_0_4_lut (.A(switch_c[1]), 
            .B(switch_c[3]), .C(switch_c[0]), .D(switch_c[2]), .Z(seg_c[0]));
    defparam switch_c_3__N_1_I_0_4_lut.INIT = "0x8824";
    
endmodule
